@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  background-color: #202142;
  line-height: 1.6;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.container {
  max-width: 768px;
  margin: 100px auto;
  padding: 0 10px;
}
